.todoItems{
    color: #4b4b4b;
    font-size: 20px;
    height: 30px;
    user-select: none;
    margin: 10px auto;
    display: flex;
}

.todoItems > p{
    margin: 0;
    margin-left: 15px;
}

.complete{
    text-decoration: line-through;
    opacity: .3;
}